@import url(https://envyxyz.github.io/removal/removal.css);

/* Variables */

:root {
  --ingame-bg: #0000004a;
  --ts: #00000078;
  --white: #ffffff;
}

/* Fonts */

@font-face {
  font-family: gamefont;
  src: url(https://fonts.gstatic.com/s/nunito/v20/XRXI3I6Li01BKofiOc5wtlZ2di8HDDsmdTQ3jw.woff2);
}

/* Updated 11/20 */

/* Removal */

#hudClassIcon,
#ammoIcon,
#challIcon,
#timerIcon,
#mainLogo,
#curGameInfo > div {
  display: none !important;
}

#clientExit,
#rankedSoonTm,
#newsHolder,
#youNewDiv,
#onetrust-consent-sdk,
.weapKey,
.imageButton,
#editorBtnM,
.headerBarRight .verticalSeparator,
#seasonLabel,
.krSocial,
#mailCount,
#voiceDisplay,
#bubbleContainer,
.endAHolder,
#igXPBar,
.button.small.buttonO img,
#tlInfHold,
#loadEditrBtn,
.settingsBtn[onclick="openOneTrust()"],
.menuSocialB,
.setSugBox2,
#mainLogo,
#termsInfo :not(div[onClick*="Window(35)"]),
.menuItemTitle,
#weapDisplay,
#menuWindow::-webkit-scrollbar,
#maxHP,
#loadTipsHolder,
#loadInfoLHolder,
#loadInfoRHolder,
#curGameInfo,
#reloadMsg {
  display: none !important;
}

.verticalSeparator {
  background-color: transparent;
}

.button,
.button:hover,
.quickJoin,
.setHed {
  border: hidden !important;
}

.button.buttonB {
  height: 65px !important;
}
#subLogoButtons {
  bottom: 8% !important;
}

/* Menu Item Container */

#menuItemContainer {
  background-color: var(--ingame-bg);
}

.menuItem .menBtnIcn {
  font-size: 45px !important;
}

/* HeaderBar */
.headerBar.headerBarRight {
  background-color: transparent;
}

.headerBar {
  background-color: var(--ingame-bg);
}

/* Chat Holder */

#chatInputHolder {
  width: calc(100% + 40px) !important;
  background-color: var(--ingame-bg);
  border: none;
  padding-left: 0;
}

#chatInput {
  width: 80%;
  margin-left: 25px;
  background-color: transparent;
}

#chatSwitchHolder {
  background-color: transparent;
  display: inline-block;
  position: absolute;
  left: 5px;
}
/* ammo */

#ammoDisplay {
  padding: 12px 5px !important;
  height: 50px !important;
}

/* timer */

#timerDisplay {
  align-items: center;
  padding: 10px 7px 4px 7px !important;
  height: 50px !important;
}

#timerVal {
  position: relative;
}

/* MISC */

#ammoDisplay,
#hudClassIcon,
#hudClassIcon img,
#timerDisplay,
#leaderDisplay,
.countIcon,
#curGameInfo,
#menuWindow.dark,
.settingsHeader,
.setHed {
  border-radius: 2px;
  background-color: var(--ingame-bg);
}

#hudClassIcon img {
  background-color: transparent;
}

#activateKDM,
.accountButton,
.loadoutBtn,
.settingsBtn,
.subPassChg,
.lnkTw,
.creatorCodeBtn,
.redVouchBtn,
#hostMenuBtn,
.hostCBtn,
.advancedToggle[style*="background-color"],
.updDisN,
.searchBtn,
.quickJoin,
.rnkShpBtn,
.hostPresetBtn,
.hostToggle,
#declineBtn,
.punishButton,
.compSwpTmB,
.joinBtn,
.openCollection,
.mapFndB,
.imageListAdd,
.bundlPopBuyB,
.menuItemTitle,
.menuItem::before,
.setHed,
.settName {
  border-radius: 2px;
  text-shadow: 0px -1.6px 0px var(--ts), 0px 1.6px 0px var(--ts),
    2px 0px 0px var(--ts), -2px 0px 0px var(--ts), 1.6px 2px 0px var(--ts),
    -1.6px 2px 0px var(--ts), 1.6px -2px 0px var(--ts),
    -1.6px -2px 0px var(--ts) !important;
}

.settingsHeader {
  position: relative;
}

#windowHolder {
  background-color: transparent !important;
}

.settingsHeader {
  background-color: transparent;
}

/* fps & ping */

#curGameInfo,
.debugInfo {
  padding: 5px;
}

#curGameInfo div {
  font-size: 0;
}

#pingDisplay .material-icons {
  font-size: 20px !important;
}

.adsbygoogle.adsbygoogle-noablate {
  display: none !important;
}

#instructions {
  visibility: hidden;
}

#chatInput::placeholder {
  color: transparent;
}

#chatInputHolder::before {
  content: "";
  position: absolute;
  color: #fff;
  bottom: 17px;
  left: 70px;
  opacity: 0.5;
  pointer-events: none;
}

#chatHolder:focus-within #chatInputHolder::before {
  opacity: 0;
}

#uiBase.onGame #chatHolder {
  left: 20px !important;
  bottom: 100px !important;
}

#chatList {
  background-color: var(--ingame-bg);
  width: 381px !important;
  left: 0px;
  bottom: 5px;
}

/* Ingame UI */

#healthValueHolder {
  padding: 0;
  margin: 0;
  position: fixed;
  left: 50px;
  bottom: 40px;
  background-color: transparent;
  z-index: 9999999 !important;
}
#healthValue {
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  text-shadow: none;
  filter: none;
}
#healthBar {
  position: fixed;
  border-radius: 0px !important;
  width: 350px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  background-color: var(--ingame-bg);
  padding: 15px;
  bottom: 20px;
  left: 20px !important;
}

.healthBarSeg {
  width: -webkit-fill-available;
  margin: 0 -1px;
  border-radius: 0;
  background-color: transparent;
}
.hpBSeg {
  border-radius: 0;
  box-shadow: none;
}

#bottomRight {
  bottom: 20px !important;
  right: 20px;
}
#ammoDisplay {
  margin-right: 0;
}
